body{
  margin:0;
  font-family:Arial;
  background:#0b0f1a;
  color:white;
}

/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#111827;
}

.menu a{
  margin-left:20px;
  text-decoration:none;
  color:white;
}

/* HERO */

.hero{
  text-align:center;
  padding:120px 20px;
  background:linear-gradient(180deg,#1a2338,#0b0f1a);
}

.hero h1{
  font-size:50px;
}

.botoes button{
  padding:12px 25px;
  margin:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:16px;
}

.discord{
  background:#5865F2;
  color:white;
}

/* INFO */

.info{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  padding:50px;
}

.box{
  background:#111827;
  padding:25px;
  border-radius:12px;
  width:250px;
}

/* PAGINA */

.pagina{
  padding:60px 20px;
  text-align:center;
}

.grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:25px;
  margin-top:30px;
}

.card{
  background:#111827;
  padding:20px;
  border-radius:12px;
  width:180px;
}

.card img{
  width:80px;
}

.card button{
  padding:8px 15px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

/* REGRAS */

.regras{
  list-style:none;
  padding:0;
}

.regras li{
  margin:10px 0;
  background:#111827;
  padding:15px;
  border-radius:8px;
}

footer{
  text-align:center;
  padding:20px;
  background:#111827;
}
