body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0f1a;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #111827;
}

.logo {
    width: 50px;
    border-radius: 50%;
}

nav a {
    color: #3b82f6;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.5;
}

.banner-text {
    position: absolute;
    top: 40%;
    width: 100%;
}

.banner-text h1 {
    font-size: 50px;
    color: #3b82f6;
}

.box {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.rules-img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.rules li {
    margin: 10px 0;
    background: #111827;
    padding: 10px;
    border-radius: 10px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: #111827;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 120px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #1f2937;
}

.card img {
    width: 80px;
    border-radius: 10px;
}

footer {
    background: #111827;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
