.staff {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.card {
  background: #1a1a22;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 150px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 80px;
  border-radius: 10px;
}

.cargo {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
  color: #5865F2;
  font-weight: bold;
}
